<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<title> {% block title %}{% endblock %}</title>

<div class="container">
  <div>
    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="/">Article library</a>
      <ul class="navbar-nav row">
        {% if session["username"] %}
        <li class="nav-item col-auto">
          <a class="nav-link" href="/articles/new">Post a new article</a>
        </li>
        <li class="nav-item col-auto">
          <a class="nav-link" href="/user/{{session["userid"]}}">My posts</a>
        </li>
        <li class="nav-item col-auto">
          <span class="nav-link">User: <strong>{{session["username"]}}</strong></span>
        </li> 
        {% endif %}

        <li style="text-align: right" class="col-auto">
          {% if session["username"] %}
          <a style="padding: 5px" class="align-self-end offset-md-8 btn-sm btn btn-primary" href="/logout">Logout</a>
          {% else %}
          <a style="padding: 5px" class="btn-sm btn btn-primary" href="/login">Login </a>
          <a style="padding: 5px" class="btn-sm btn btn-primary" href="/register">Register</a>
          {% endif %}
        </li>

      </ul>
    </nav>
  </div>
  {% block content %}{% endblock %}
</div>
