<!doctype html>
{% extends "layout.html" %}
{% block title %} Login {% endblock %}

{% block content %}

{% if session["username"] %}
<div class="row main-content text-center">
  <p> Already logged in!</p>
</div>

{% else %}
<div class="row main-content text-center">
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <h2>Log In</h2>
      </div>
      <div>
        <form action="login" method="POST" class="form-group">
          <div class="row">
            <input type="text" name="username" id="username"  placeholder="Username">
          </div>
          <div class="row">
            <input type="password" name="password" id="password" placeholder="Password">
          </div>
          <div class="row">
            <input type="submit" value="Login" class="btn btn-primary">
          </div>
        </form>
      </div>
      <div class="row">
        <p>Don't have an account? <a href="/register">Register Here</a></p>
      </div>
      {% if error_msg is defined %}
      <p style="color: red"> <strong>{{ error_msg }} </strong></p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}


{% endblock %}
